<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <!--header tag is an example of an html5 tag that creates sections in your website.  They do not render anything by default, they are a way to break your website into pieces -->
    <!--almost just like a div tag-->
    <header>
        <!--heading tag...these are the tags that denote topic headers..they go from h1-h6 -->
        <!--if you want to make something a link we use an anchor tag with an html reference-->
        <!--this usually goes inside of another tag-->
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <!--article tags are like the header tags in that they are placeholders to denote articles-->
    <article>
        <h2><a href="">My First Post</a></h2>
        <!--time tags allow for utc and other time stamps-->
        <time>published: 11/24/19 2:49pm</time>
        <!--p tags are for paragraphs and large bodies of text-->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque explicabo, eius ratione placeat quos corrupti sed animi facere nesciunt deserunt!</p>
    </article>
        <article>
        <h2><a href="">My Second Post</a></h2>
        <!--time tags allow for utc and other time stamps-->
        <time>published: 11/24/19 3:49pm</time>
        <!--p tags are for paragraphs and large bodies of text-->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ducimus rem esse ex. Ea debitis quo in facilis magnam nulla natus corporis provident quas nemo? Facere aliquid blanditiis alias veritatis fuga omnis unde consequuntur id laborum, error, adipisci impedit quo.</p>
    </article>


</body>
</html>